.bg-primary {
  background-color: #4d75b0 !important;
}

.icon-size {
  width: 100px;
  height: 75px;
}

.navbar-brand {
  font-size: 2vw;
  font-family: 'Montserrat', sans-serif;
}

.container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.admin-button {
  margin-right: 10px;
  align-self: center;
  background-color: #fff;
  color: #4d75b0;
  border: 1px solid #4d75b0;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.admin-button:hover {
  background-color: #4d75b0;
  color: #fff;
}
